*{
	margin: 0;
	padding: 0;
}
header h1{
	text-align: center;
	font-size: 60px;
	font-family: Arial;
}
header a{
	font-family: Arial;
	display: block;
	text-decoration: none;
	margin: 0 auto;
	width: 120px;
	height: 40px;
	background-color: #8F7A66;
	text-align: center;
	color: #fff;
	line-height: 40px;
	border-radius: 10px;
}
header p{
	font-family: Arial;
	text-align: center;
	font-size: 25px;
}
.grid-container{
	width: 500px;
	height: 500px;
	background-color: #BBADA1;
	margin: 0 auto;
	border-radius: 10px;
	position: relative;
}
.grid-cell{
	width: 100px;
	height: 100px;
	text-align: center;
	font-family: Arial;
	line-height: 100px;
	background-color: #CDC1B3;
	font-size: 60px;
	position: absolute;
	border-radius: 10px;
}
.number-cell{
	text-align: center;
	font-family: Arial;
	line-height: 100px;
	font-size: 60px;
	position: absolute;
	border-radius: 10px;
}
.over{
	height: 500px;
	width: 500px;
	border-radius: 10px;
	position: absolute;
	background-color: rgba(0,0,0,.4);
	z-index: 2;
	display: none;
}
.over p{
	font-family: Arial;
	text-align: center;
	color: white;
	font-size: 48px;
}
.over p:first-child{
	margin-top: 145px;
}
.over p:nth-of-type(2){
	margin-top: 35px;
}
.over input{
	display: block;
	border: none;
	margin: 0 auto;
	width: 200px;
	height: 57px;
	background-color: #8F7A66;
	color: #fff;
	font-size: 24px;
	margin-top: 30px;
	border-radius: 10px;
	cursor: pointer;
}